:root{
    --primary-color-midnight: #003b6d;
    --primary-color-sky: #6699cc;
    --secondary-color-gray: #676767;
    --secondary-color-silver: #bdbdbd;
    --site-box-shadow: 0px 8px 16px 0px var(--primary-color-midnight);
    --site-wide-gap: .5rem;

    --fullHD-container-size: 80%;
    --ultraHD-container-size: 60%;
}

body{
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

h1{
    margin-bottom: 3rem;
}

h2{
    font-size: 2.5rem;    
}

a{
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover{
    color: var(--secondary-color-gray);
}

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.hide{
    display: none;
}

.col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.color-white,
.nav-container a{
    color: white;
}

.centered{
    margin-inline: auto;
}

.h1-adjuster{
    font-size: clamp(3rem, 8vw + 1rem, 8rem);
    text-align: center;
    line-height: 1;
}

.slogan{
    text-align: center;
    margin-bottom: 3rem;
}

/* nav style start */

header,
.nav-pets-dropdown{
    background-color: var(--primary-color-sky);
}

.nav-container{
    margin-inline: auto;
    width: var(--fullHD-container-size);
    padding: .5rem 0;
    justify-content: space-between;
}

nav{
    height: 100%;
    gap: 5rem;
    align-items: center;
}

.nav-pets{
    padding-left: .5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.nav-pets-dropdown{
    position: absolute;
    padding: 0 .5rem .5rem;
    display: none;
    box-shadow: var(--site-box-shadow);
    z-index: 1;
}

.nav-pets:hover,
.nav-container a:hover{
    color: var(--secondary-color-gray);
}

.dropdown:hover .nav-pets-dropdown{
    display: block;
}

/* nav style end */

/* footer style start */

footer{
    background-color: var(--primary-color-sky);
    margin-top: auto;
}

.footer-menues{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* footer style end */

@media(min-width: 1100px){
    .nav-container{
        width: var(--ultraHD-container-size);
    }
}