.pets-page-mid-section{
    margin-inline: auto;
    padding: 3rem 0;
    width: var(--fullHD-container-size);
}

.header-two-top-spacing{
    margin-top: 3rem;
}

.animal-group-header-image,
.animal-mid-section-image{    
    width: 70%;
    aspect-ratio: 2 / 1.5;
    object-fit: cover;
    box-shadow: var(--site-box-shadow);
}

.animal-group-header-image{
    margin: 0 auto 3rem;
}

.animal-image-mid-section,
.animal-mid-section-info{
    width: 100%;
}

.animal-image-mid-section{
    gap: 2rem;
    padding: 3rem 0;
}

.small-pet-image-mural{
    margin: 0 auto 3rem;
    max-width: var(--fullHD-container-size);
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: var(--site-wide-gap);
}

.small-pet-image-card img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: var(--site-box-shadow);
}

@media(max-width: 800px){
    .animal-image-mid-section{
        flex-direction: column;
    }
}

@media(min-width: 1100px){
    .pets-page-mid-section{
        width: var(--ultraHD-container-size);
    }

    .small-pet-image-mural{
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}